:root {
  --main-bg-color: #0f1016;
  --header-color: #020508;
  --main-text-color: #e6ecf2;
  --main-font: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  --control-medium-gap: 0.5rem;
}

body {
  background: var(--main-bg-color);
  padding: 0;
  margin: 0;
  color: var(--main-text-color);
  font-family: var(--main-font);
}

.flex {
  display: flex;
}

.page {
  flex: 3;
  border: 1px solid #f2f4f748;
  border-radius: 0.375rem;
  height: 80vh;
  padding: 1.5rem;
}

.profile {
  margin-right: 0.1rem;
}

a {
  color: var(--main-text-color);
  text-decoration: none;
}

.container {
  padding: 2rem 2rem;
  max-width: 75rem;
  margin: auto;
}

.material-symbols-outlined {
  color: #6d757d;
  font-size: 22px;
  margin-right: var(--control-medium-gap, 0.5rem);
}
